.container {
  height: 100%;
  min-height: 100vh;
}
.title {
  text-align: center;
}
.table-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.table {
  padding: 1rem;
  width: 500px;
  border: 1px solid black;

  tr > th {
    padding-top: .5rem;
    padding-bottom: 1rem;
  }

  tr > td {
    background: #e6e6e6;
    padding: .5rem;
  }
}

.search-box {
  padding-bottom: 1rem;

  input {
    width: 300px;
    padding: 1rem;
    font-size: 20px;
  }
}

.no-result {
  color: red;
  text-align: center;
}
