<div class="container">
 <h1 class="title"> {{ title }}</h1>
 <div class="table-container">
    <div class="search-box">
      <input [ngModel]="search" (ngModelChange)="searchChange($event)" placeholder="search..."/>
    </div>
  <table class="table">
    <tr>
      <th>Category Name</th>
    </tr>
    <tr  *ngFor="let category of searchCategories.categories; index as i;">
      <td>{{ category }}</td>
    </tr>
    <div class="no-result" *ngIf="searchCategories.categories.length === 0"> no result</div>

  </table>
 </div>

</div>
